<div style="margin-top: -3%; margin-left: 1%">
  <p style="color: green"><%= notice %></p>

  <h1>Doctors</h1>

  <div id="doctors">
    <% if !@doctors.nil? %>
      <% @doctors.each do |doctor| %>
        <%= render doctor %>
        <p>
          <%= link_to "Show this doctor", doctor %>
        </p>
      <% end %>
    <% else %>
      <p>Not found doctors</p>
    <% end %>
  </div>
</div>