<div style="margin-top: -3%; margin-left: 1%">
  <h1>Profile doctor</h1>
  <ul>
    <li>Name: <%= current_doctor.name %></li>
    <li>Surname: <%= current_doctor.surname %></li>
    <li>Phone: <%= current_doctor.phone %></li>
    <li>Category: <%= current_doctor.category.title %></li>
  </ul>
</div>